.human-anatomy{
    background-color: #eef1ff;
    width:350px;
    height:500px;
    border-radius: 35px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-left:20px;


    .human-img{
    width:500px;
    height:500px;
    background: transparent;
    margin-left: -70px;
    display: block;

    }

    .zoom{
       position: absolute;
       top: 20px;
       right: 20px;
       font-size: 24px;
       color: #333;
       background-color: #eef1ff;
       padding: 6px;
       border-radius: 50%;
       cursor: pointer;
       z-index: 10; 
    }

    .label {
  position: absolute;
  padding: 8px 14px;
  background-color: #00d0ff;
  color:#eef1ff;
  font-size: 12px;
  border-radius: 6px;
  font-weight: 600;
  white-space: nowrap;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.label-heart {
  top: 25%;
  left: 60%;
  z-index: 20;
  background-color:#2d40a3;
  position: absolute;
  color:#eef1ff;
  padding:8px;
  border-radius: 10px;  
}


.label-leg {
  top: 70%;
  left: 10%;
  z-index:20;
  background-color: #26c6da; 
  position:absolute;
   color:#eef1ff;
    padding:8px;
    border-radius: 10px;
}
}

@media (max-width:900px){
  .human-anatomy{
    margin-left: 160px;
  }
}


@media (max-width:300px){
  .human-anatomy{
    margin-left: -5px; 
    width:400px;
    height:550px; 
    margin-top: -30px;
 
    

 
.label heart {
  top:18%;
  right:20%;
}


.label leg {
  bottom:8%;
  left:18%;
}
  }
 
}