
.search-bar{
       width:620px;
        height:40px;
        box-shadow:  #9095b3 0px 0px 2px 0px,  #9095b3 0px 0px 0px 0px;
         border-radius: 5px;
        
         margin-top: 30px;
         display: flex;
         flex-direction: row;
    input{
       border:none;
       background: transparent;
       margin-left: 20px;
       margin-top: 0px;
       height:40px;
    }
    input:focus{
        outline: none;
    }

    .search-icon{
    margin-left: 20px;
    margin-top: 13px;
    color:#9095b3;
    
}

.bell-icon{
   margin-left: 370px;  
   margin-top: 13px;
   color:#2d40a3;
}
}

@media (max-width:900px){
 .search-bar{
   width:650px;
   margin-top: 20px;
   margin-left: 160px;
   .bell-icon{
         margin-left: 380px;
      }
 }
}

@media (max-width: 300px){
   .search-bar{
      width:370px;
      margin-left: 10px;
      margin-top: 40px;
   }

   .search-bar  .bell-icon{
         margin-left: 120px;
      }


}