body{
  background-color:#dce0f2;
  width: 300px;
}

 .container{
    background-color: white;
    color: black;
    width: 98vw;
    height: 125vh;
    margin: 0px 0px 0px 0px;
    border-radius: 35px;
    display:flex;
    flex-direction: row;
     
  }

  .sidebar {
  width: 15%;
  background-color: #eef1ff;
  box-sizing: border-box;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  margin:10px;
}

.main-section {
  width: 45%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;


}

.calendar-schedule {
  width: 40%;
  background-color:  #eef1ff;
  padding: 20px;
  box-sizing: border-box;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  margin:10px;
}

.grid-overview{
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .container {
    flex-direction:column;
    width: 880px;
  }

  .sidebar,
  .main-section,
  .calendar-schedule {
    width: 150%;
    margin: 10px 0;
    border-radius: 20px;
  }

  .sidebar {
    order: 1;
  }

  .main-section {
    order: 2;
  }

  .calendar-schedule {
    order: 3;
    width: 880px;
  }

  .grid-overview {
    display: flex;
    flex-direction:row;
  }
  .health-status{
    display: flex;
    flex-direction: column;
  }

  .main-section{
    margin-top: -20px;
    width: 860px;
  }
 
}



@media (max-width:435px){
  .container{
    width: 300px;
    margin-left: -10px;
  }
  .grid-overview{
    display: flex;
    flex-direction: column;
  }

  .health-status{
    display: flex;
    flex-direction:column;
    margin-left: 15px;
  }
  .calendar-schedule{
    width: 420px;
  }
  .main-section{
    width: 420px;
  }
}