body{
  background-color:#dce0f2;
}

 .container{
    background-color: white;
    color: black;
    width: 98vw;
    height: 125vh;
    margin: 0px 0px 0px 0px;
    border-radius: 35px;
    display:flex;
    flex-direction: row;
     
  }

  .sidebar {
  width: 15%;
  background-color: #eef1ff;
  box-sizing: border-box;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  margin:10px;
}

.main-section {
  width: 45%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;


}

.calendar-schedule {
  width: 40%;
  background-color:  #eef1ff;
  padding: 20px;
  box-sizing: border-box;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  margin:10px;
}

.grid-overview{
  display: flex;
  flex-direction: row;
}
